.pac-container {
  background-color: #fff;
  z-index: 3000;
  position: fixed;
  display: inline-block;
}

.modal {
  z-index: 2000;
}

.modal-backdrop {
  z-index: 1000;
}

.modal-bg {
  z-index: inherit;
  column-gap: normal;
}
